Repository saiichihashimoto/react-feathers-redux-resources: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --fix --ignore-pattern '!.babelrc.js', imagemin-lint-staged, npm run lint:js, git add src, sort-package-json

More init
  .travis.yml
  package-lock.json
  package.json
Due: sort-package-json

Changes for greenkeeper lockfile
  .travis.yml
Due: none

chore(development): validate commit messages
  package-lock.json
  package.json
Due: sort-package-json

fix(npm): main field
  package.json
Due: sort-package-json

feat(components): snapshot and realtime components
  .babelrc
  .gitattributes
  package-lock.json
  package.json
  src/context.js
  src/index.js
  src/provider.js
  src/realtime.js
  src/snapshot.js
Due: eslint --report-unused-disable-directives --fix --ignore-pattern '!.babelrc.js', sort-package-json

perf(react): refs are unnecessary
  src/realtime.js
  src/snapshot.js
Due: eslint --report-unused-disable-directives --fix --ignore-pattern '!.babelrc.js'

refactor(code): more readable code
  package.json
  src/provider.js
  src/realtime.js
  src/snapshot.js
Due: eslint --report-unused-disable-directives --fix --ignore-pattern '!.babelrc.js', sort-package-json

feat(api): Updated API
  .travis.yml
  StyleguidistWrapper.js
  package-lock.json
  package.json
  src/components/FeathersReduxResource/Readme.md
  src/components/FeathersReduxResource/index.js
  src/components/Realtime/Readme.md
  src/components/Realtime/index.js
  src/components/Snapshot/Readme.md
  src/components/Snapshot/index.js
  src/index.js
  src/provider.js
  src/realtime.js
  src/snapshot.js
  styleguide.config.js
Due: eslint --report-unused-disable-directives --fix --ignore-pattern '!.babelrc.js', sort-package-json

fix(ci): travis builds
  .travis.yml
Due: none

docs(package): homepage
  .travis.yml
  package.json
Due: sort-package-json

fix(build): default travis install
  .travis.yml
Due: none

Deploy saiichihashimoto/react-feathers-redux-resources to github.com/saiichihashimoto/react-feathers-redux-resources.git:gh-pages
  build/1.d965f1ed.js
  build/bundle.4cdd6e5d.js
  index.html
Due: eslint --report-unused-disable-directives --fix --ignore-pattern '!.babelrc.js'

revert(build): back to just semantic-release
  .travis.yml
Due: none

chore(package): update lockfile
  package-lock.json
Due: none

Path conditions:
  eslint --report-unused-disable-directives --fix --ignore-pattern '!.babelrc.js': any of: **/*.js
  imagemin-lint-staged: any of: **/*.{gif,jpeg,jpg,png,svg}
  npm run lint:js: any of: .eslintrc
  git add src: any of: .eslintrc
  sort-package-json: any of: package.json
